## container versions
SYNAPSE_VERSION_TAG=v1.108.0
ELEMENT_VERSION_TAG=v1.11.65
POSTGRES_VERSION_TAG=13

## the important bits
HOSTNAME=example.com
POSTGRES_PW=mysupersecurepassword
POSTGRES_ROOT_PW=mysupersecurerootpassword

## change these if you don't like the defaults
#UID=${UID} ## uses the current running UID for the synapse container
SITE_HOST=www.${HOSTNAME}
MATRIX_HOST=synapse.${HOSTNAME}
ELEMENT_HOST=app.${HOSTNAME}
MAUBOT_HOST=maubot.${HOSTNAME}
REDIRECT_HOST=${ELEMENT_HOST} ## set to ${SITE_HOST} if you would prefer to redirect to a static site
ACME_EMAIL=admin@${HOSTNAME}
