server {
  listen         80 default_server;
  server_name    _;

 # Traefik -> nginx -> synapse
#location /_matrix {
#   proxy_pass http://synapse:8008;
#   proxy_set_header X-Forwarded-For $remote_addr;
#   client_max_body_size 128m;
# }

  location /.well-known/matrix/server {
    default_type application/json;
    return 200 '{"m.server":"REPLACE_WITH_MATRIX_HOST:443"}';
    add_header Access-Control-Allow-Origin  *;
  }
}
